<h3>Term Test C</h3>

<h4>Version 1</h4>

<h6>Question 1</h6>

Assume that we want to estimate the mean IQ score for the
population of statistics professors. How many statistics professors
must be randomly selected for IQ tests if we want 95% confidence that
the sample mean is within 2 IQ points of the population mean? You can
assume $\sigma=15$.

In [5]:
zat<-qnorm(0.975);print(zat)

[1] 1.959964

In [4]:
ss=15;E=2

In [8]:
n=((zat*ss)/E)^2;print(n)

[1] 216.0821

You should select $217$ statistics professors.

<h6>Question 2</h6>

The A. C Nielsen Company collects data on the TV viewing habits of
Americans and publishes the information in Nielsen Report on
Television. Twenty married couples are randomly selected. Their weekly
viewing times, in hours, are as follows. Assume that conditions for
using the formula are fulfilled.

<table>
    <tr>
        <td>Husband</td>
        <td>Wife</td>
        <td>Husband</td>
        <td>Wife</td>
        <td>Husband</td>
        <td>Wife</td>
    </tr>
    <tr>
        <td>21</td>
        <td>24</td>
        <td>38</td>
        <td>45</td>
        <td>36</td>
        <td>35</td>
    </tr>
    <tr>
        <td>56</td>
        <td>55</td>
        <td>27</td>
        <td>29</td>
        <td>20</td>
        <td>34</td>
    </tr>
    <tr>
        <td>34</td>
        <td>55</td>
        <td>30</td>
        <td>41</td>
        <td>43</td>
        <td>32</td>
    </tr>
    <tr>
        <td>30</td>
        <td>34</td>
        <td>31</td>
        <td>37</td>
        <td>4</td>
        <td>13</td>
    </tr>
    <tr>
        <td>41</td>
        <td>32</td>
        <td>30</td>
        <td>35</td>
        <td>16</td>
        <td>9</td>
    </tr>
    <tr>
        <td>35</td>
        <td>38</td>
        <td>32</td>
        <td>48</td>
        <td>21</td>
        <td>23</td>
    </tr>
    <tr>
        <td>26</td>
        <td>38</td>
        <td>15</td>
        <td>17</td>
        <td></td>
        <td></td>
    </tr>
</table>

At the 5% level of significance, does it appear that married men
watch less TV, on the average, than married women? Hint: as you do not
have software, the relevant standard deviation you need to use in your
calculation is $8.146036$. It is up to you to determine to which data
set this standard deviation applies, given the context.

In [34]:
tv<-read.table("./csv/tv.csv",sep=",",header=TRUE);print(tv)

    m  f
1  21 24
2  56 55
3  34 55
4  30 34
5  41 32
6  35 38
7  26 38
8  38 45
9  27 29
10 30 41
11 31 37
12 30 35
13 32 48
14 15 17
15 36 35
16 20 34
17 43 32
18  4 13
19 16  9
20 21 23

In [15]:
d<-tv[[1]]-tv[[2]]

In [18]:
db<-mean(d);print(db)

[1] -4.4

In [19]:
sd<-sd(d);print(sd)

[1] 8.146036

$$H_{0}:\mu_{d}=0,H_{a}:\mu_{d}<0,\alpha=0.05$$

In [20]:
ts<-db/(sd/sqrt(length(tv[[1]])));print(ts)

[1] -2.41558

In [23]:
ta<-qt(0.05,length(tv[[1]]-1));print(ta)

[1] -1.724718

Reject $H_{0}$.

<h6>Question 3</h6>

The U.S. National Center for Health Statistics annually
conducts the National Health Interview Survey (NHIS). The following
data are based on results obtained in the NHIS. Independent random
samples of 2235 U.S. women and 2065 U.S. men were obtained in order to
compare the percentage of women who smoke cigarettes to the percentage
of men who smoke cigarettes. Of the women sampled, 503 smoked; of the
men sampled, 552 smoked. Do the data provide sufficient evidence to
conclude that, in the United States, the percentage of women who smoke
cigarettes is different than the percentage of men who smoke cigarettes? Use $\alpha=0.05$. Use the $p$-value approach.

In [28]:
x1<-503;x2<-552;n1<-2235;n2<-2065

In [29]:
pb<-(x1+x2)/(n1+n2);qb<-1-pb;print(pb)

[1] 0.2453488

$$H_{0}:p_{1}=p_{2},H_{a}:p_{1}<p_{2},\alpha=0.05$$

In [30]:
zs=((x1/n1)-(x2/n2))/sqrt((pb*qb/n1)+(pb*qb/n2));print(zs)

[1] -3.217304

In [31]:
pvalue=2*pnorm(zs);print(pvalue)

[1] 0.001294013

The value in the Triola table is $0.0006$ (times two).

Reject $H_{0}$.

<h6>Question 4</h6>

Using birth weight data shown below are birth weights (in kilograms)
of male babies born to mothers taking a special vitamin supplement
(based on data from the New York State Department of Health). Test the
claim that this sample comes from a population with a standard
deviation equal to $0.470$kg, which is the standard deviation for
male birth weights in general. Does the vitamin supplement appear to
affect the variation among birth weights? Assume that the data is normally distributed. Use $\alpha=0.1$.

<table>
    <tr>
        <td>4.33</td>
        <td>3.73</td>
        <td>4.37</td>
        <td>3.73</td>
    </tr>
    <tr>
        <td>4.13</td>
        <td>2.47</td>
        <td>4.09</td>
        <td>3.02</td>
    </tr>
    <tr>
        <td>3.39</td>
        <td>4.47</td>
        <td>3.68</td>
        <td>3.22</td>
    </tr>
    <tr>
        <td>4.68</td>
        <td>3.43</td>
        <td>3.52</td>
        <td>2.54</td>
    </tr>
</table>

The sample mean is $3.675$, the sample standard deviation is $0.6573178$.

In [33]:
bw<-read.table("./csv/bw.csv",sep=",",header=TRUE);print(bw)

     kg
1  4.33
2  3.73
3  4.37
4  3.73
5  4.13
6  2.47
7  4.09
8  3.02
9  3.39
10 4.47
11 3.68
12 3.22
13 4.68
14 3.43
15 3.52
16 2.54

$$H_{0}:\sigma=0.470,H_{a}:\sigma\neq{}0.470,\alpha=0.1$$

In [35]:
s<-sd(bw$kg);print(s)

[1] 0.6573178

In [36]:
cs<-((length(bw$kg)-1)*s^2)/0.470^2;print(cs)

[1] 29.33907

In [38]:
cL<-qchisq(0.05,(length(bw$kg)-1));print(cL)

[1] 7.260944

In [39]:
cR<-qchisq(0.95,(length(bw$kg)-1));print(cR)

[1] 24.99579

Triola table values are $7.261$ and $24.996$.

Reject $H_{0}$.

<h6>Question 5</h6>

To determine whether car ownership affects a student's
academic achievement, two random samples of 100 male students were
each drawn from the student body. The grade point average for the $n_{1}=100$
non-owners of cars had an average and variance equal to $\bar{x}_{1}=2.70$ and $s_{1}^{2}=0.36$, while
$\bar{x}_{2}=2.54$ and $s_{2}^{2}=0.40$ for the $n_{2}=100$ car owners. Do the data present
sufficient evidence to indicate a difference in the mean achievements
between car owners and non-owners of cars? Test using $\alpha=0.05$.

$$H_{0}:\mu_{1}=\mu_{2},H_{a}:\mu_{1}\neq\mu_{2},\alpha=0.05$$

In [44]:
n1<-100;x1b<-2.70;s1s<-0.36

In [43]:
n2<-100;x2b<-2.54;s2s<-0.40

In [45]:
ts<-(x1b-x2b)/sqrt((s1s/n1)+(s2s/n2));print(ts)

[1] 1.835326

In [47]:
tcrit<-qt(0.975,99);print(tcrit)

[1] 1.984217

Fail to reject $H_{0}$.

<h4>Version 2
</h4>

<h6>Question 1</h6>

The A. C Nielsen Company collects data on the TV viewing habits of
Americans and publishes the information in Nielsen Report on
Television. Twenty married couples are randomly selected. Their weekly
viewing times, in hours, are as follows. Assume that conditions for
using the formula are fulfilled.

<table>
    <tr>
        <td>Husband</td>
        <td>Wife</td>
        <td>Husband</td>
        <td>Wife</td>
        <td>Husband</td>
        <td>Wife</td>
    </tr>
    <tr>
        <td>21</td>
        <td>24</td>
        <td>38</td>
        <td>45</td>
        <td>36</td>
        <td>35</td>
    </tr>
    <tr>
        <td>56</td>
        <td>55</td>
        <td>27</td>
        <td>29</td>
        <td>20</td>
        <td>34</td>
    </tr>
    <tr>
        <td>34</td>
        <td>55</td>
        <td>30</td>
        <td>41</td>
        <td>43</td>
        <td>32</td>
    </tr>
    <tr>
        <td>30</td>
        <td>34</td>
        <td>31</td>
        <td>37</td>
        <td>4</td>
        <td>13</td>
    </tr>
    <tr>
        <td>41</td>
        <td>32</td>
        <td>30</td>
        <td>35</td>
        <td>16</td>
        <td>9</td>
    </tr>
    <tr>
        <td>35</td>
        <td>38</td>
        <td>32</td>
        <td>48</td>
        <td>21</td>
        <td>23</td>
    </tr>
    <tr>
        <td>26</td>
        <td>38</td>
        <td>15</td>
        <td>17</td>
        <td></td>
        <td></td>
    </tr>
</table>

At the 5% level of significance, does it appear that married men
watch less TV, on the average, than married women? Hint: as you do not
have software, the relevant standard deviation you need to use in your
calculation is $8.146036$. It is up to you to determine to which data
set this standard deviation applies, given the context.

In [34]:
tv<-read.table("./csv/tv.csv",sep=",",header=TRUE);print(tv)

    m  f
1  21 24
2  56 55
3  34 55
4  30 34
5  41 32
6  35 38
7  26 38
8  38 45
9  27 29
10 30 41
11 31 37
12 30 35
13 32 48
14 15 17
15 36 35
16 20 34
17 43 32
18  4 13
19 16  9
20 21 23

In [15]:
d<-tv[[1]]-tv[[2]]

In [18]:
db<-mean(d);print(db)

[1] -4.4

In [19]:
sd<-sd(d);print(sd)

[1] 8.146036

$$H_{0}:\mu_{d}=0,H_{a}:\mu_{d}<0,\alpha=0.05$$

In [20]:
ts<-db/(sd/sqrt(length(tv[[1]])));print(ts)

[1] -2.41558

In [23]:
ta<-qt(0.05,length(tv[[1]]-1));print(ta)

[1] -1.724718

Reject $H_{0}$.

<h6>Question 2</h6>

The U.S. National Center for Health Statistics annually
conducts the National Health Interview Survey (NHIS). The following
data are based on results obtained in the NHIS. Independent random
samples of 2235 U.S. women and 2065 U.S. men were obtained in order to
compare the percentage of women who smoke cigarettes to the percentage
of men who smoke cigarettes. Of the women sampled, 503 smoked; of the
men sampled, 552 smoked. Do the data provide sufficient evidence to
conclude that, in the United States, the percentage of women who smoke
cigarettes is different than the percentage of men who smoke cigarettes? Use $\alpha=0.05$. Use the $p$-value approach.

In [28]:
x1<-503;x2<-552;n1<-2235;n2<-2065

In [29]:
pb<-(x1+x2)/(n1+n2);qb<-1-pb;print(pb)

[1] 0.2453488

$$H_{0}:p_{1}=p_{2},H_{a}:p_{1}<p_{2},\alpha=0.05$$

In [30]:
zs=((x1/n1)-(x2/n2))/sqrt((pb*qb/n1)+(pb*qb/n2));print(zs)

[1] -3.217304

In [31]:
pvalue=2*pnorm(zs);print(pvalue)

[1] 0.001294013

The value in the Triola table is $0.0006$ (times two).

Reject $H_{0}$.

<h6>Question 3</h6>

Assume that we want to estimate the mean IQ score for the
population of statistics professors. How many statistics professors
must be randomly selected for IQ tests if we want 95% confidence that
the sample mean is within 2 IQ points of the population mean? You can
assume $\sigma=15$.

In [5]:
zat<-qnorm(0.975);print(zat)

[1] 1.959964

In [4]:
ss=15;E=2

In [8]:
n=((zat*ss)/E)^2;print(n)

[1] 216.0821

You should select $217$ statistics professors.

<h6>Question 4</h6>

To determine whether car ownership affects a student's
academic achievement, two random samples of 100 male students were
each drawn from the student body. The grade point average for the $n_{1}=100$
non-owners of cars had an average and variance equal to $\bar{x}_{1}=2.70$ and $s_{1}^{2}=0.36$, while
$\bar{x}_{2}=2.54$ and $s_{2}^{2}=0.40$ for the $n_{2}=100$ car owners. Do the data present
sufficient evidence to indicate a difference in the mean achievements
between car owners and non-owners of cars? Test using $\alpha=0.05$.

$$H_{0}:\mu_{1}=\mu_{2},H_{a}:\mu_{1}\neq\mu_{2},\alpha=0.05$$

In [44]:
n1<-100;x1b<-2.70;s1s<-0.36

In [43]:
n2<-100;x2b<-2.54;s2s<-0.40

In [45]:
ts<-(x1b-x2b)/sqrt((s1s/n1)+(s2s/n2));print(ts)

[1] 1.835326

In [47]:
tcrit<-qt(0.975,99);print(tcrit)

[1] 1.984217

Fail to reject $H_{0}$.

<h6>Question 5</h6>

Using birth weight data shown below are birth weights (in kilograms)
of male babies born to mothers taking a special vitamin supplement
(based on data from the New York State Department of Health). Test the
claim that this sample comes from a population with a standard
deviation equal to $0.470$kg, which is the standard deviation for
male birth weights in general. Does the vitamin supplement appear to
affect the variation among birth weights? Assume that the data is normally distributed. Use $\alpha=0.1$.

<table>
    <tr>
        <td>4.33</td>
        <td>3.73</td>
        <td>4.37</td>
        <td>3.73</td>
    </tr>
    <tr>
        <td>4.13</td>
        <td>2.47</td>
        <td>4.09</td>
        <td>3.02</td>
    </tr>
    <tr>
        <td>3.39</td>
        <td>4.47</td>
        <td>3.68</td>
        <td>3.22</td>
    </tr>
    <tr>
        <td>4.68</td>
        <td>3.43</td>
        <td>3.52</td>
        <td>2.54</td>
    </tr>
</table>

The sample mean is $3.675$, the sample standard deviation is $0.6573178$.

In [33]:
bw<-read.table("./csv/bw.csv",sep=",",header=TRUE);print(bw)

     kg
1  4.33
2  3.73
3  4.37
4  3.73
5  4.13
6  2.47
7  4.09
8  3.02
9  3.39
10 4.47
11 3.68
12 3.22
13 4.68
14 3.43
15 3.52
16 2.54

$$H_{0}:\sigma=0.470,H_{a}:\sigma\neq{}0.470,\alpha=0.1$$

In [35]:
s<-sd(bw$kg);print(s)

[1] 0.6573178

In [36]:
cs<-((length(bw$kg)-1)*s^2)/0.470^2;print(cs)

[1] 29.33907

In [38]:
cL<-qchisq(0.05,(length(bw$kg)-1));print(cL)

[1] 7.260944

In [39]:
cR<-qchisq(0.95,(length(bw$kg)-1));print(cR)

[1] 24.99579

Triola table values are $7.261$ and $24.996$.

Reject $H_{0}$.