In [27]:
using CSV, DataFrames, Statistics, FreqTables, LinearAlgebra

In [8]:
a1=DataFrame(CSV.File("./csv/asts.csv"))

694×4 DataFrame
 Row │ ast      courseid  astname        cont
     │ String7  Int64     String         Float64
─────┼──────────────────────────────────────────────
   1 │ dqfe          675  Lab Report 1   0.0175
   2 │ eqqr          104  Lab Report 1   0.0161538
   3 │ purz          104  Lab Report 2   0.0161538
   4 │ zteo          675  Lab Report 2   0.0175
   5 │ knny          832  Essay 1        0.25
   6 │ qrfq          675  Lab Report 3   0.0175
   7 │ qdhd          104  Lab Report 3   0.0161538
   8 │ svah          675  Lab Report 4   0.0175
   9 │ pbif          104  Lab Report 4   0.0161538
  10 │ mlnq          104  Term Test A    0.14
  11 │ ponz          675  Term Test A    0.14
  ⋮  │    ⋮        ⋮            ⋮            ⋮
 685 │ ytqm          894  Lab Report 10  0.00833333
 686 │ nhls          894  Lab Report 11  0.00833333
 687 │ vdhk          894  Lab Report 12  0.00833333
 688 │ vebv          894  Lab Report 13  0.00833333
 689 │ jwpd          894  Lab Report 14  0.00833333
 690 │ eehn          894  Lab Report 15  0.00833333
 691 │ qpic          894  Lab Report 16  0.00833333
 692 │ tozt          894  Lab Report 17  0.00833333
 693 │ lwbr          894  Lab Report 18  0.00833333
 694 │ zrys          514  Essay 1        0.25
                                    673 rows omitted

In [9]:
m1=DataFrame(CSV.File("./csv/marks.csv"))

35206×3 DataFrame
   Row │ ast      studentID  mark
       │ String7  Int64      Float64
───────┼─────────────────────────────
     1 │ dqfe        369773     6.67
     2 │ dqfe        542150    80.0
     3 │ dqfe        373971    80.0
     4 │ dqfe        658468    26.67
     5 │ dqfe        946387    73.33
     6 │ dqfe        505926    48.87
     7 │ dqfe        127232     0.0
     8 │ dqfe        911293   100.0
     9 │ dqfe        377866    80.0
    10 │ dqfe        387235    46.67
    11 │ dqfe        467599    73.33
   ⋮   │    ⋮         ⋮         ⋮
 35197 │ bjle        837888    44.21
 35198 │ bjle        844462    64.21
 35199 │ bjle        854333    98.95
 35200 │ bjle        855762    25.26
 35201 │ bjle        868366     0.0
 35202 │ bjle        904274    56.84
 35203 │ bjle        911815    60.0
 35204 │ bjle        935063     6.32
 35205 │ bjle        962740    45.26
 35206 │ bjle        975179    52.63
                   35185 rows omitted

In [10]:
a2=a1[a1.courseid .== 326,:] # filter for course id 326

5×4 DataFrame
 Row │ ast      courseid  astname                     cont
     │ String7  Int64     String                      Float64
─────┼────────────────────────────────────────────────────────
   1 │ mnll          326  Essay 1                        0.25
   2 │ nvxk          326  Final Exam                     0.25
   3 │ bemh          326  Final Essay                    0.25
   4 │ tcbq          326  Attendance                     0.05
   5 │ zijh          326  Reading Assessment Quizzes     0.2

In [18]:
d1=Dict{String, Float64}() # associate ast with cont
for i in 1:length(a2[:,:ast])
    merge!(d1,Dict(a2[i,:ast]=>a2[i,:cont]))
end

In [13]:
m2=DataFrame() # filter for marks relevant to course id 326
dup=[]
for i in 1:length(a2[:,:ast])
    m2=vcat(m2,m1[m1.ast .== a2[i,:ast],:])
    dup=vcat(dup,sum(nonunique(m1[m1.ast .== a2[i,:ast],:],:studentID)))
end

In [22]:
m2

331×3 DataFrame
 Row │ ast      studentID  mark
     │ String7  Int64      Float64
─────┼─────────────────────────────
   1 │ mnll        104689     89.0
   2 │ mnll        114185     92.0
   3 │ mnll        116679     90.0
   4 │ mnll        116824     89.0
   5 │ mnll        162638     89.0
   6 │ mnll        205269     92.0
   7 │ mnll        224062     89.0
   8 │ mnll        251559     90.0
   9 │ mnll        252873     90.0
  10 │ mnll        285042     90.0
  11 │ mnll        290701     92.0
  ⋮  │    ⋮         ⋮         ⋮
 322 │ zijh        755073     71.9
 323 │ zijh        506917     70.3
 324 │ zijh        789794     42.2
 325 │ zijh        998581     71.9
 326 │ zijh        761102     71.9
 327 │ zijh        478953     62.5
 328 │ zijh        379248     65.6
 329 │ zijh        809742     29.7
 330 │ zijh        601169     45.3
 331 │ zijh        459860     79.7
                   310 rows omitted

In [14]:
dup # these should all be zero or else there is duplication

5-element Vector{Any}:
 0
 0
 0
 0
 0

In [24]:
function ast2cont(x)
    d1[x]
end

ast2cont (generic function with 1 method)

In [25]:
m3=transform(m2,:ast => ByRow(ast2cont) => :cont)

331×4 DataFrame
 Row │ ast      studentID  mark     cont
     │ String7  Int64      Float64  Float64
─────┼──────────────────────────────────────
   1 │ mnll        104689     89.0     0.25
   2 │ mnll        114185     92.0     0.25
   3 │ mnll        116679     90.0     0.25
   4 │ mnll        116824     89.0     0.25
   5 │ mnll        162638     89.0     0.25
   6 │ mnll        205269     92.0     0.25
   7 │ mnll        224062     89.0     0.25
   8 │ mnll        251559     90.0     0.25
   9 │ mnll        252873     90.0     0.25
  10 │ mnll        285042     90.0     0.25
  11 │ mnll        290701     92.0     0.25
  ⋮  │    ⋮         ⋮         ⋮        ⋮
 322 │ zijh        755073     71.9     0.2
 323 │ zijh        506917     70.3     0.2
 324 │ zijh        789794     42.2     0.2
 325 │ zijh        998581     71.9     0.2
 326 │ zijh        761102     71.9     0.2
 327 │ zijh        478953     62.5     0.2
 328 │ zijh        379248     65.6     0.2
 329 │ zijh        809742     29.7     0.2
 330 │ zijh        601169     45.3     0.2
 331 │ zijh        459860     79.7     0.2
                            310 rows omitted

In [26]:
m3g=groupby(m3,:studentID)

GroupedDataFrame with 70 groups based on key: studentID
First Group (5 rows): studentID = 104689
 Row │ ast      studentID  mark     cont
     │ String7  Int64      Float64  Float64
─────┼──────────────────────────────────────
   1 │ mnll        104689     89.0     0.25
   2 │ nvxk        104689     67.3     0.25
   3 │ bemh        104689     80.0     0.25
   4 │ tcbq        104689    100.0     0.05
   5 │ zijh        104689     65.6     0.2
⋮
Last Group (1 row): studentID = 995966
 Row │ ast      studentID  mark     cont
     │ String7  Int64      Float64  Float64
─────┼──────────────────────────────────────
   1 │ tcbq        995966      0.0     0.05

In [32]:
combine(m3g,[:mark,:cont] => ((m,c) -> dot(m,c)) => :total)

70×2 DataFrame
 Row │ studentID  total
     │ Int64      Float64
─────┼────────────────────
   1 │    104689   77.195
   2 │    114185   56.575
   3 │    116679   79.145
   4 │    116824   82.68
   5 │    162638   77.97
   6 │    205269   56.32
   7 │    224062   67.695
   8 │    251559   84.395
   9 │    252873   81.16
  10 │    285042   88.1
  11 │    290701   77.94
  ⋮  │     ⋮         ⋮
  61 │    945657   24.395
  62 │    951469   66.61
  63 │    977842   62.745
  64 │    990376   75.985
  65 │    996021   74.87
  66 │    998581   84.905
  67 │    264775    0.0
  68 │    378509    0.475
  69 │    914004    0.0
  70 │    995966    0.0
           49 rows omitted

In [33]:
# next steps: replace sdc by name and sno then sort and export to csv