In [1]:
sqrt(0)

0.0

In [1]:
-(^(5,5),^(4,5))

2101

In [1]:
using Polynomials

In [2]:
p1=Polynomial([625,50,-3])

Polynomial(625 + 50*x - 3*x^2)

In [3]:
roots(p1)

2-element Vector{Float64}:
 -8.333333333333334
 24.999999999999996

In [4]:
using CSV
using DataFrames

In [29]:
df1=DataFrame(CSV.File("./csv/stud.csv"))

1891×6 DataFrame
  Row │ id      course  studentNumber  password  lastName  callName
      │ Int64   Int64   String15       String7   String31  String31
──────┼──────────────────────────────────────────────────────────────
    1 │ 505926     675  A00892710      Y86H      Sangha    Amit
    2 │ 542150     675  A00804126      P64N      Conconi   Katie
    3 │ 373971     675  A00804133      V68S      Flaa      Erik
    4 │ 658468     675  A00861304      J24R      Ly        Amy
    5 │ 946387     675  A00884171      O72X      Smith     Randy
    6 │ 127232     675  A00914659      T53O      Matias    Reiner
    7 │ 911293     675  A00927540      X46W      Liu       Celina
    8 │ 377866     675  A00930461      D22M      Dhillon   Lucky
    9 │ 387235     675  A00938050      J29V      Ward      Thomas
   10 │ 467599     675  A00953822      E95V      Rogers    Wyatt
   11 │ 519908     675  A00954408      X68J      Shi       Gloria
  ⋮   │   ⋮       ⋮           ⋮           ⋮         ⋮          ⋮
 1882 │ 192723     514  37704483       L41I      Wang      Mingkai
 1883 │ 331329     514  40977852       I53J      Wang      Wensen
 1884 │ 507497     514  22213623       R85N      Wong      Hui
 1885 │ 227667     514  17557760       E40B      Yang      Trafaline
 1886 │ 769815     514  27610260       R96U      Ye        Ryan
 1887 │ 230494     514  22250328       A97C      Zeng      Sabrina
 1888 │ 488081     514  44818177       G05O      Zhang     Jiaxin
 1889 │ 214934     514  34099135       S94T      Zhao      Curtis
 1890 │ 539865     514  56547276       Y80F      Zhou      Xinran
 1891 │ 377532     514  40747941       P86X      Zurkovic  Nicholas
                                                    1870 rows omitted

In [30]:
df2=DataFrame(sno=df1[:,3])

1891×1 DataFrame
  Row │ sno
      │ String15
──────┼───────────
    1 │ A00892710
    2 │ A00804126
    3 │ A00804133
    4 │ A00861304
    5 │ A00884171
    6 │ A00914659
    7 │ A00927540
    8 │ A00930461
    9 │ A00938050
   10 │ A00953822
   11 │ A00954408
  ⋮   │     ⋮
 1882 │ 37704483
 1883 │ 40977852
 1884 │ 22213623
 1885 │ 17557760
 1886 │ 27610260
 1887 │ 22250328
 1888 │ 44818177
 1889 │ 34099135
 1890 │ 56547276
 1891 │ 40747941
 1870 rows omitted

In [31]:
df3=DataFrame(cno=df1[:,2],ln=df1[:,5],fn=df1[:,6])

1891×3 DataFrame
  Row │ cno    ln        fn
      │ Int64  String31  String31
──────┼────────────────────────────
    1 │   675  Sangha    Amit
    2 │   675  Conconi   Katie
    3 │   675  Flaa      Erik
    4 │   675  Ly        Amy
    5 │   675  Smith     Randy
    6 │   675  Matias    Reiner
    7 │   675  Liu       Celina
    8 │   675  Dhillon   Lucky
    9 │   675  Ward      Thomas
   10 │   675  Rogers    Wyatt
   11 │   675  Shi       Gloria
  ⋮   │   ⋮       ⋮          ⋮
 1882 │   514  Wang      Mingkai
 1883 │   514  Wang      Wensen
 1884 │   514  Wong      Hui
 1885 │   514  Yang      Trafaline
 1886 │   514  Ye        Ryan
 1887 │   514  Zeng      Sabrina
 1888 │   514  Zhang     Jiaxin
 1889 │   514  Zhao      Curtis
 1890 │   514  Zhou      Xinran
 1891 │   514  Zurkovic  Nicholas
                  1870 rows omitted

In [32]:
df4=df3[findall(nonunique(df2)),:]

275×3 DataFrame
 Row │ cno    ln                 fn
     │ Int64  String31           String31
─────┼───────────────────────────────────────
   1 │   192  Bhullar            Jappnit
   2 │   192  Chao               Carlson
   3 │   192  Cheng              Byron
   4 │   192  Cheng              Joey
   5 │   192  Ge                 Tiantian
   6 │   192  Hay                Brendan
   7 │   192  Ho                 Minh
   8 │   192  Huang              Jason
   9 │   192  Kafle              Awatar
  10 │   192  Kim                Harry
  11 │   192  Lai                Sandra
  ⋮  │   ⋮            ⋮               ⋮
 266 │   326  Kim                Emily
 267 │   326  Ptak               Kira
 268 │   514  Bobyn              Alex
 269 │   514  Dannhauer          Alex
 270 │   514  Ghosh              Anandita
 271 │   514  Hossain            Riyadh
 272 │   514  Sharma             Serena
 273 │   514  Sioui              Amanda
 274 │   514  Urban              Jessica
 275 │   514  Wang               Wensen
                             254 rows omitted

In [33]:
df5=df4[df4.cno .== 514,:]

8×3 DataFrame
 Row │ cno    ln         fn
     │ Int64  String31   String31
─────┼────────────────────────────
   1 │   514  Bobyn      Alex
   2 │   514  Dannhauer  Alex
   3 │   514  Ghosh      Anandita
   4 │   514  Hossain    Riyadh
   5 │   514  Sharma     Serena
   6 │   514  Sioui      Amanda
   7 │   514  Urban      Jessica
   8 │   514  Wang       Wensen

In [34]:
+(//(14,3),//(-7,4),//(-7,2),//(-14,5),//(14,3))

77//60

In [1]:
-(*(//(4,3),125),*(//(2,3),196))

36//1

In [1]:
*(//(3,68),+(//(*(16,7),4),//(16,3)))

25//17

In [5]:
f1(x)=+(*(//(49,5),^(x,5)),*(7,^(x,4)),*(//(4,3),^(x,3)))

f1 (generic function with 1 method)

In [7]:
*(//(1,2),-(f1(2),f1(0)))

3272//15

In [8]:
*(//(3272,15),//(3,68))

818//85

In [9]:
using SymPy

In [10]:
@vars x

(x,)

In [11]:
q1(x)=^(-(1,x),3)

q1 (generic function with 1 method)

In [12]:
expand(q1(x))

   3      2
- x  + 3⋅x  - 3⋅x + 1

In [13]:
+(//(1,4),//(1,10),//(-2,5),8,-16,//(-1,4))

-83//10

In [14]:
using QuadGK

In [17]:
integral,err=quadgk(x->+(*(-2,^(x,2),-(2,*(/(2,3),x))),*(-2,^(-(2,*(/(2,3),x)),3)),*(/(-7,2),x,^(-(2,*(/(2,3),x)),2)),*(6,x,-(2,*(/(2,3),x))),*(6,^(-(2,*(/(2,3),x)),2))),0,3,rtol=1e-8)

(10.5, 0.0)

In [16]:
*(37.5,2)

75.0

In [20]:
integral,err=quadgk(x->*(cos(x),sin(x)),0,*(/(1,2),pi),rtol=1e-8)

(0.49999999999999994, 4.476974346800944e-13)

In [22]:
*(/(625,20),integral)

15.624999999999998

In [21]:
*(//(125,8),//(20,625))

1//2

In [23]:
/(125,8)

15.625

In [24]:
*(//(105,8),+(//(1,3),//(1,7),//(-2,5)))

1//1

In [25]:
*(//(105,8),+(//(2,5),//(-4,7),//(2,9),//(-1,5),//(2,7),//(-1,7)))

-1//12

In [26]:
+(//(1,7),//(1,3),//(-2,5))

8//105

In [27]:
*(//(105,48),+(//(-2,9),//(6,7),//(-6,5),//(2,3)))

2//9

In [29]:
R=6378.1

6378.1

In [30]:
lat=*(*(121,/(pi,180)),R,cos(*(23,/(pi,180))))

12398.813991878773

In [31]:
lon=*(R,*(29,/(pi,180)))

3228.24650562206